.item-box{
  width: 250px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.sn-box{
  width: 50px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.price-box{
  width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.qty-box{
  width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.delete-box{
  width: 10px;
  padding-top: 5px;
}
