<div class="modal-header modal-header-primary">
  <h5>Edit User
  </h5>
  <button type="button" class="close float-right" (click)="closeModal()">
    <fa-icon [icon]="faCross" class="close-modal"></fa-icon>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editUserForm">
    <div class="form-row">
      <div class="form-group col-4">
        <label for="username">First Name <span class="required">*</span></label>
        <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="First Name"
               formControlName="FirstName" [ngClass]="{ 'is-invalid': f.FirstName.touched && f.FirstName.errors }">
        <div *ngIf="f.FirstName.touched && f.FirstName.errors" class="invalid-feedback">
          <div *ngIf="f.FirstName.errors.required">First Name is required</div>
          <div *ngIf="f.FirstName.errors.minlength">First Name should be at least three characters.</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label for="MiddleName">Middle Name</label>
        <input type="text" class="form-control" name="MiddleName" id="MiddleName" placeholder="Middle Name"
               formControlName="MiddleName" [ngClass]="{ 'is-invalid': f.MiddleName.touched && f.MiddleName.errors }">
        <div *ngIf="f.MiddleName.touched && f.MiddleName.errors" class="invalid-feedback">
          <div *ngIf="f.MiddleName.errors.minlength">Middle Name should be at least three characters.</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label for="LastName">Last Name <span class="required">*</span></label>
        <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Last Name"
               formControlName="LastName" [ngClass]="{ 'is-invalid': f.LastName.touched && f.LastName.errors }">
        <div *ngIf="f.LastName.touched && f.LastName.errors" class="invalid-feedback">
          <div *ngIf="f.LastName.errors.required">Last Name is required</div>
          <div *ngIf="f.LastName.errors.minlength">Last Name should be at least three characters.</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <label for="username">Username <span class="required">*</span></label>
        <input type="text" class="form-control" name="username" id="username" placeholder="username"
               formControlName="username" [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }">
        <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">User Name is required</div>
          <div *ngIf="f.username.errors.minlength">User Name should be at least three characters.</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label for="username">Password <span class="required">*</span></label>
        <input type="password" class="form-control" name="username" id="password" placeholder="username"
               formControlName="password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }">
        <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">User Name is required</div>
          <div *ngIf="f.password.errors.minlength">User Name should be at least three characters.</div>
        </div>
      </div>
      <div class="form-group col-4">
        <label for="username">Confirm Password <span class="required">*</span></label>
        <input type="password" class="form-control" name="username" id="password" placeholder="username"
               formControlName="password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }">
        <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">User Name is required</div>
          <div *ngIf="f.password.errors.minlength">User Name should be at least three characters.</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <label for="username">Gender <span class="required">*</span></label>
        <div class="row">
          <div class="col-4">
            <div class="custom-control custom-radio">
              <input id="male" type="radio" class="custom-control-input" value="M" name="Gender"
                     formControlName="Gender">
              <label class="custom-control-label" for="male">Male</label>
            </div>
          </div>
          <div class="col-4">
            <div class="custom-control custom-radio">
              <input id="female" type="radio" class="custom-control-input" value="F" name="Gender"
                     formControlName="Gender">
              <label class="custom-control-label" for="female">Female</label>
            </div>
          </div>
          <div class="col-4">
          </div>
        </div>
      </div>
      <div class="form-group col-4">
        <label for="username">Gender <span class="required">*</span></label>
        <div class="row">
          <label for="username">Date Of Birth <span class="required">*</span></label>
          <div class="col-4">
            <input type="text" class="form-control" name="DOB.mm" id="password" placeholder="MM"
                   formControlName="DOB.mm">

          </div>
          <div class="col-4">
            <input type="text" class="form-control" name="DOB.dd" id="password" placeholder="DD"
                   formControlName="DOB.dd">

          </div>
          <div class="col-4">
            <input type="text" class="form-control" name="DOB.yyyy" id="password" placeholder="YYYY"
                   formControlName="DOB.yyyy">

          </div>

        </div>
      </div>
    </div>
    <div class="form-group col-4">
      <label for="username">Date Of Birth <span class="required">*</span></label>
      <input type="password" class="form-control" name="DOB.mm" id="password" placeholder="username"
             formControlName="password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }">
      <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">User Name is required</div>
        <div *ngIf="f.password.errors.minlength">User Name should be at least three characters.</div>
      </div>
    </div>
</div>
<div class="form-row">
  <div class="form-group col-6">
    <label for="Phone">Phone </label>
    <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Phone" formControlName="Phone"
           [ngClass]="{ 'is-invalid': f.Phone.touched && f.Phone.errors }">
    <div *ngIf="f.Phone.touched && f.Phone.errors" class="invalid-feedback">
      <div *ngIf="f.Phone.errors.required">Phone is required</div>
      <div *ngIf="f.Phone.errors.minlength || f.Phone.errors.maxlength || f.Phone.errors.pattern">Please Enter Valid
        Phone Number.
      </div>
    </div>
  </div>
  <div class="form-group col-6">
    <label for="Email">Email</label>
    <input type="email" class="form-control" name="Email" id="Email" placeholder="mail@prayogshalanepal.com"
           formControlName="Email" [ngClass]="{ 'is-invalid': f.Email.touched && f.Email.errors }"/>
    <div *ngIf="f.Email.touched && f.Email.errors" class="invalid-feedback">
      <div>Please enter valid email.</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-6">
    <label for="roleName">Role <span class="required">*</span></label>
    <ng-select [items]="roles"
               bindLabel="roleName"
               bindValue="id"
               [multiple]="false"
               placeholder="Select Role"
               formControlName="roleId"
               [ngClass]="{ 'is-invalid': f.roleId.touched && f.roleId.errors }">
    </ng-select>
    <div *ngIf="f.roleId.touched && f.roleId.errors" class="invalid-feedback">
      <div *ngIf="f.roleId.errors.required">Role is required</div>
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-6">
    <label for="changePassword">
      Change Password?
    </label>
    <br>
    <input type="checkbox" id="changePassword" name="changePassword" formControlName="changePassword">

  </div>

</div>
<div class="form-row" *ngIf="editUserForm.value.changePassword">
  <div class="form-group col-6">
    <label>New Password</label>
    <input type="password" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }"/>
    <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group col-6">
    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" class="form-control"
           [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors }"/>
    <div *ngIf="f.confirmPassword.touched && f.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
    </div>
  </div>
</div>
</form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-warning float-right" [disabled]="editUserForm.pristine" (click)="onReset()">
    Reset
  </button>
  <button type="submit" class="btn btn-success float-right" [disabled]="!editUserForm.valid"
          (click)="onSubmitUsers(f.username.errors)">Save
  </button>
</div>

