<div class="container col-12">
  <div class="row">
    <div class="col-12">
      <h4>Tables <p data-placement="top" data-toggle="tooltip" title="Add Item" class="float-right">
        <button class="btn btn-primary btn-xs" data-title="Add Item" data-toggle="modal" data-target="#add" (click)="openCreateModal()">
          Add Tables
        </button>
      </p></h4>
      <div class="table-responsive" *ngIf="allTables && allTables.length > 0">
        <table id="itemstable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
          <thead>
          <tr>
            <th>Table Name</th>
            <th>Table Description</th>
            <th>Status</th>
            <th style="text-align: center">Edit</th>
            <th style="text-align: center">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of allTables">
            <td>{{item.TableName}} </td>
            <td>{{item.Description}}</td>
            <td>{{item.Status==1?'Yes':'No'}}</td>
            <td class="center" style="text-align: center">
              <button type="button" class="btn btn-info btn-circle">
                <fa-icon [icon]="faEdit" ></fa-icon>
              </button>
            </td>
            <td class="center" style="text-align: center">
              <button type="button" class="btn btn-danger btn-circle">
                <fa-icon [icon]="faTrash" class="btn-danger"></fa-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!allTables || allTables.length < 1 ">
        <h6>No Data Found</h6>
      </div>
    </div>
  </div>
</div>

