<div class="container col-12">
  <div class="row">
    <div class="col-12">
      <h4>Offers <p data-placement="top" data-toggle="tooltip" title="Add Offer" class="float-right">
        <button class="btn btn-primary btn-xs" data-title="Add Offer" data-toggle="modal" data-target="#add" (click)="openCreateModal()">
          Add Offer
        </button>
      </p></h4>
      <div class="table-responsive" *ngIf="offers && offers.length > 0 && !addPopupOn">
        <table datatable id="offerstable" class="row-border hover">
          <thead>
          <tr>
            <th>Offer Name</th>
            <th width="15%">Offer Type</th>
            <th>Effective Date From</th>
            <th>Effective Date To</th>
            <th>Quantity</th>
            <th>Quantity Remarks</th>
            <th>Discount Percentage</th>
            <th>Maximum Discount Amount</th>
            <th style="text-align: center">Active</th>
            <th style="text-align: center">Edit</th>
            <th style="text-align: center">De/Activate</th>
            <th style="text-align: center">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let offer of offers">
            <td>{{offer.OfferName}} </td>
            <td>
              <span *ngFor="let c of codes">
                <span *ngIf="c.Code==offer.OfferType">
                  {{c.CodeName}}
                </span>
              </span>
            </td>
            <td>{{offer.EffectiveDateFrom | date : 'yyyy-MM-dd'}}</td>
            <td>{{offer.EffectiveDateTo | date : 'yyyy-MM-dd'}}</td>
            <td>{{offer.Quantity}}</td>
            <td>{{offer.QuantityRemarks}}</td>
            <td>{{offer.DiscountPercentage}}</td>
            <td>{{offer.MaxDiscountAmount}}</td>
            <td class="center" style="text-align: center">
              <fa-icon [icon]="faCheckSquare" style="color: limegreen" *ngIf="offer.IsActive==1"></fa-icon>
              <fa-icon [icon]="faCheckSquare" style="color: lightslategrey" *ngIf="offer.IsActive==0"></fa-icon>
            </td>
            <td class="center" style="text-align: center">
              <button type="button" class="btn btn-info btn-circle" (click)="openEditModal(offer)">
                <fa-icon [icon]="faEdit" ></fa-icon>
              </button>
            </td>
            <td class="center" style="text-align: center">
              <button type="button" class="btn btn-outline-warning btn-secondary" *ngIf="offer.IsActive==1" (click)="openDeactivateModal(offer,deactivateTemplate)">
                <fa-icon [icon]="faPowerOff" ></fa-icon>
              </button>
              <button type="button" class="btn btn-outline-success btn-secondary" *ngIf="offer.IsActive==0" (click)="openActivateModal(offer,activateTemplate)">
                <fa-icon [icon]="faPowerOff" ></fa-icon>
              </button>
            </td>
            <td class="center" style="text-align: center">
              <button type="button" class="btn btn-outline-danger btn-dark" (click)="openDeleteModal(offer,deleteTemplate)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!offers || offers.length < 1 ">
        <h6>No Data Found</h6>
      </div>
    </div>
  </div>
</div>
<ng-template #deactivateTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><fa-icon [icon]="faExclamationTriangle" style="color: darkorange"></fa-icon></h4>
  </div>
  <div class="modal-body">
    <b>{{offerToDeactivate.OfferName}} {{offerToDeactivate.OfferType}}</b> will be deactivated !!!
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning btn-outline-danger" (click)="deactivateOffer(offerToDeactivate,'D')">Ok</button>
    <button class="btn btn-secondary btn-outline-info" (click)="bsModalRef.hide()">Cancel</button>
  </div>
</ng-template>
<ng-template #activateTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><fa-icon [icon]="faCheckCircle" style="color: limegreen"></fa-icon></h4>
  </div>
  <div class="modal-body">
    <b>{{offerToDeactivate.OfferName}} {{offerToDeactivate.OfferType}}</b> will be activated !!!
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="deactivateOffer(offerToDeactivate,'A')">Ok</button>
    <button class="btn btn-secondary btn-outline-info" (click)="bsModalRef.hide()">Cancel</button>
  </div>
</ng-template>
<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><fa-icon [icon]="faExclamationTriangle" style="color: darkorange"></fa-icon></h4>
  </div>
  <div class="modal-body">
    <b>{{offerToDelete.OfferName}}</b> will be deleted !!!
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning btn-outline-danger" (click)="deleteOffer(offerToDelete)">Ok</button>
    <button class="btn btn-secondary btn-outline-info" (click)="closeDeleteModal(bsModalRef)">Cancel</button>
  </div>
</ng-template>
